<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
Organisationen können benutzt werden um Datensätze übersichtlich zusammenzufassen. Einzelne Benutzer können gemäß ihrer Zugehörigkeit den Organisationen zugeteilt werden. Innerhalb einer Organisation können Benutzer verschiedene Berechtigungen haben um z.B. bestimmte Datenbsätze lesen oder erstellen zu können.
      {% endtrans %}
    </p>
  </div>
</div>
