{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Willkommen auf der Katalogplattform der Smarten Städte und Regionen Bayern") }}</h1>
    {% endif %}
  </header>

  {% block home_image %}

      
      {#% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="/base/images/smart_regions_bayern.png" alt="Smart City and Region" width="300" height="309"/>
        </a>
      {% endblock %#}
    </section>
	{% block home_text %}
      <p>
        {% trans %}
Ihre Informationsdrehscheibe rund um das Thema Smarte Städte und Regionen mit Informationen zu Daten, Services, Anwendungen und Projekten in den Modellregionen Bayerns.
        {% endtrans %}
      </p>
	{% endblock %}
  {% endblock %}
</div>
